<table class="table">
  <thead>
    <tr>
      <th>
        Item
      </th>

      <th>
        Currently in stock
      </th>

      <th>
        Minimum Required Stock
      </th>

      <th>
        Procurement Time
      </th>
    </tr>
  </thead>

  <tbody>
    <% items.each do |item| %>
      <tr>
        <td>
          <div>
            <%= item_display_name item %>
          </div>
          <div class="dropdown option-dropdown">
            <a href="#" class="nav-link dropdown-toggle user-dropdown border d-inline btn" data-toggle="dropdown">
              Options
            </a>
            <ul class="dropdown-menu user-menu">
              <li> <%= link_to "Item Details", item_path(item) %> </li>
              <li> <%= link_to "Manage stock", managestock_item_path(item) %> </li>
            </ul>
          </div>
        </td>

        <td class="count">
          <%= display_na_if_nil_else_value item.in_stock %>
        </td>

        <td class="count">
          <%= display_na_if_nil_else_value item.minimum_required_stock %>
        </td>

        <td class="count">
          <%= display_na_if_nil_else_value(item.procurement_time_in_weeks, '', 'weeks') %>
        </td>

        <td>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.admin? %>
  <%= link_to "Add new...", new_item_path %> <br>
<% end %>
