<% provide(:title, "Manage stocks") %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <main class="page-body">
      <%= render 'shared/heading' %>

      <%= form_for(@item, url: updatestock_item_url) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <div class="form-group">
          <%= f.label :in_stock, "Currently in stock" %>

          <%= f.number_field :in_stock, min: 0, max: 100, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :minimum_required_stock %>

          <%= f.number_field :minimum_required_stock, min: 0, max: 100, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :procurement_time_in_weeks %>

          <%= f.number_field :procurement_time_in_weeks, class: 'form-control' %>
        </div>

        <%= f.submit "Update Stock" , class: "btn btn-primary form-control" %>

      <% end %>
    </main>
  </div>
</div>
