<%= form_for @allotment do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :user_id %>
    <%= f.collection_select(:user_id, User.all, :id, :name, include_blank: '--Not Allocated--') %>
  </div>

  <div class="form-group">
    <%= f.label :item_id %>
    <%= f.collection_select(:item_id, Item.all, :id, :item_display_name, include_blank: '--Not Allocated--') %>
  </div>

  <%= f.submit "Allocate" , class: "btn btn-primary form-control" %>
<% end %>
